<div class="container" id="home-container">
  <div class="p-5 mb-4 text-bg-dark text-center text-white" id="jumbotron">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Alpha Blog</h1>
      <p class="fs-4">Learn all the best techniques to stay ahead in the cut
      throat world of stocks. Start reading now, time is your most valueable resource.</p>
      <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
